<div id="page">
    <header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Lester &amp; Lucrecia</h1>
                            <h2>Agosto 28, 2022</h2>
                            <div class="simply-countdown simply-countdown-one"></div>
                            <!-- <p><a href="#" class="btn btn-default btn-sm">Save the date</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading fh5co-heading-sm animate-box">
                    <h2>Hola {{invitado.invitado_nombre}}!</h2>
                    <h3>Guatemala 28 de agosto, 2022</h3>
                    <p>Te invitamos a celebrar nuestra boda</p>
                </div>
            </div>
            <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img src="assets/images/groom.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                        <h3>Lester Vasquez</h3>
                        <p>Texto del novio</p>
                    </div>
                </div>
                <p class="heart text-center"><i class="icon-heart2"></i></p>
                <div class="couple-half">
                    <div class="bride">
                        <img src="assets/images/bride.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                        <h3>Lucrecia Barreno</h3>
                        <p>Texto de la novia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading fh5co-heading-sm animate-box">
                    <span>Nuestros eventos especiales</span>
                    <h2>Eventos de boda</h2>
                </div>
            </div>
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Ceremonia Principal</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>4:00 PM</span>
                                        <span>6:00 PM</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Domingo 28</span>
                                        <span>Agosto, 2022</span>
                                    </div>
                                    <p>Descripcion
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box">
                                    <h3>Fiesta de bodas</h3>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>7:00 PM</span>
                                        <span>12:00 AM</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Domingo 28</span>
                                        <span>Agosto, 2022</span>
                                    </div>
                                    <p>Descripcion
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-couple-story">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading fh5co-heading-sm animate-box">
                    <span>Nosotros nos amamos</span>
                    <h2>Nuestra historia</h2>
                    <p>Descripcion</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline animate-box">
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(assets/images/couple-1.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Como nos conocimos</h3>
                                    <span class="date">Enero 25, 2020</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Descripcion
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url(assets/images/couple-2.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Primera Cita</h3>
                                    <span class="date">Febrero 28, 2020</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Descripcion
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(assets/images/couple-3.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Nos hicimos novios</h3>
                                    <span class="date">Agosto 1, 2020</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Descripcion
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-gallery" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading fh5co-heading-sm animate-box">
                    <span>Nuestras memorias</span>
                    <h2>Galeria de nuestra historia</h2>
                    <p>Descripcion</p>
                </div>
            </div>
            <div id="section-gallery" class="row row-bottom-padded-md">
                <div class="col-md-12">
                    <ul id="fh5co-gallery-list">
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC06846.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC06897.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC06935.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC06997.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC06999.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC07037.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC07057.jpg); ">
                        </li>

                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC07068.jpg); ">
                        </li>
                        <li class="one-third animate-box" data-animate-effect="fadeIn"
                            style="background-image: url(assets/img/DSC07031.jpg); ">
                        </li>
                    </ul>
                </div>
            </div>
            <div id="section-carousel" class="row">
                <div class="col-md-12 animate-box">
                    <div class="wrap-testimony">
                        <div class="owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC06852.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC06999.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC07021.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC07031.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC07039.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC07057.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="../../assets/img/DSC07081.jpg" alt="First slide">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading fh5co-heading-sm animate-box">
                    <h2>¡Eligé o envianos tu Regalo!</h2>
                    <h3>Codigo: bodavasquezbarreno</h3>
                    <p>La lista de regalos la encuentras en bodas Cemaco</p>
                </div>
            </div>
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
                                <div class="event-wrap animate-box">
                                    <a href="https://www.cemaco.com/list/bodavasquezbarreno"
                                        style="width: 100%; display: flex; align-self: center; margin: 0 auto; ">
                                        <img src="../../assets/img/boda-cemaco.png"
                                            style="width: 100%; align-self: center; margin: 0 auto;" />
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-started" class="fh5co-bg" style="background-image:url(assets/img/DSC07057.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>¿Contamos con tu asistencia?</h2>
                    <p>Por favor, llena el formulario para confirmar tu asistencia. Gracias.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-10 col-md-offset-1">
                    <form class="form-inline">
                        <div class="col-md-12 col-sm-12">
                            <div class="div-p">
                                <table>
                                    <thead>
                                        <th> </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let invitacion of invitado.invitaciones">
                                            <td>
                                                <div class="form-check form-witch">
                                                    <label for="check-{{invitacion.numero_invitacion}}"
                                                        class="label-cbx">
                                                        <input mdbCheckbox class="invisible" type="checkbox"
                                                            id="check-{{invitacion.numero_invitacion}}"
                                                            [(ngModel)]="invitacion.confirmado"
                                                            [ngModelOptions]="{standalone: true}" />
                                                        <div class="checkbox">
                                                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                                <path
                                                                    d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z">
                                                                </path>
                                                                <polyline points="4 11 8 15 16 6"></polyline>
                                                            </svg>
                                                        </div>
                                                        <label class="form-check-label"
                                                            for="check-{{invitacion.numero_invitacion}}"> Invitado No.
                                                            {{invitacion.numero_invitacion}} </label>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-4 col-sm-12">
                            <button type="button" (click)="saveInvitado()" class="btn btn-default btn-block">Confirmar
                                Asistencia</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>