@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

h1 { 

    font-family: "Uchen";
    font-size: 400%;
    text-align:center;
}

h2 {
    font-family: "Uchen";
    font-size: large;
    text-align:center;
}

