
<div class="row my-3" >
    
<h1> Bienvenid@ {{invitado.invitado_nombre}}</h1>

</div>
<div class="row my-3" >
    
    <h2> Cuentas con {{invitado.numero_invitaciones}} invitaciones </h2>
    
    </div>
<!-- Default switch -->
<div class="row my-3" >
<div class="div-p"> 
    <table  >
        <thead>
            <th> </th>
        </thead>
        <tbody >
                <tr *ngFor="let invitacion of invitado.invitaciones" >
                    <td >
                        <div class="form-check form-switch" >
                            <input
                              mdbCheckbox
                              class="form-check-input"
                              type="checkbox"
                              id="flexSwitchCheckDefault"
                              [(ngModel)]="invitacion.confirmado"
                            />
                            <label class="form-check-label" for="flexSwitchCheckDefault"
                              > Invitado No. {{invitacion.numero_invitacion}} </label
                            >
                          </div>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
</div>
<div class="row">
    <button type="button"  style="width: 50%; align-self: center; margin: 0 auto; "class="btn btn-outline-secondary">Actualizar confirmaciones</button>
</div>
<div class="row my-3">
    <h2> Nuestra Sesion Save The Date! </h2>
</div>
<div class="row my-3">
    <div class="div-c">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 50%; display: flex; align-self: center; margin: 0 auto; ">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="responsive"  src="../../assets/img/DSC07057.jpg" alt="First slide" style="width: 100%; height: auto;">
          </div>
          <div class="carousel-item">
            <img class="responsive" src="../../assets/img/DSC06852.jpg" alt="Second slide" style="width: 100%; height: auto;">
          </div>
          <div class="carousel-item">
            <img class="responsive" src="../../assets/img/DSC07081.jpg" alt="Third slide" style="width: 100%; height: auto;">
          </div>
          <div class="carousel-item">
            <img class="responsive" src="../../assets/img/DSC06999.jpg" alt="Third slide" style="width: 100%; height: auto;">
          </div>
          <div class="carousel-item">
            <img class="responsive" src="../../assets/img/DSC07021.jpg" alt="Third slide" style="width: 100%; height: auto;">
          </div>
          <div class="carousel-item">
            <img class="responsive" src="../../assets/img/DSC07031.jpg" alt="Third slide" style="width: 100%; height: auto;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
</div>
